/.idea/workspace.xml

/build.sh
/semantic.sh
/codegen.sh

/.gradle/
/build/

/test/*/*
!/test/*/*.*
/test/*/test.*
/test/*/*.tokens
/test/*/*.tree
/test/*/*.ast
/test/*/*.test
/test/*/*.ll
/test/*/*.s
/test/*/*.out
/test/test.*
/test/test
/test/builtin.s

/src/*/resources/*.ll
/src/*/resources/*.s
