/.idea/workspace.xml

/build.sh
/semantic.sh
/codegen.sh

/.gradle/
/build/

/test-tool/cases/llvm/*.ll
/test-tool/cases/llvm/*.s
/test-tool/cases/llvm/*.bin
/test-tool/cases/llvm/*.out
/test-tool/cases/llvm/zky.*
/test-tool/test.*
/test-tool/builtin.s

/steps/
