/.idea/workspace.xml

/build.sh
/semantic.sh
/codegen.sh

/.gradle/
/build/

/test-tool/cases/*.ll
/test-tool/cases/*.s
/test-tool/cases/*.bin
/test-tool/cases/*.out
/test-tool/cases/zky.*
/test-tool/test.*
/test-tool/builtin.s

/debug/
